.progress {
  display: flex;
  align-items: center;
  height: 140px;
  padding: 1rem;
  border: solid 1px #ddd;
  border-radius: 0.25rem;
}

.progress-item {
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  padding: 1rem;
  border: solid 1px #ddd;
  border-radius: 0.25rem;
}

.progress-item--active {
  border-color: var(--primary);
  box-shadow: inset 0 0 0 1px var(--primary);
}

.progress-item--disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.progress-item:last-child {
  margin-right: 0;
}

.progress-item__row {
  display: flex;
  flex-direction: column;
}

.progress-item__badge {
  align-self: center;
  min-width: 45px;
  height: 45px;
  margin-right: 1rem;
  border-radius: 100px;
  background-color: #333a41;
  color: #fff;
  line-height: 45px;
  text-align: center;
}

.progress-item--active .progress-item__badge {
  background-color: var(--primary);
}

.progress-item__name {
  display: block;
  font-size: 1.45rem;
  margin-bottom: 0.25rem;
}

.progress-item--active .progress-item__name {
  color: var(--primary);
}

.progress-item__desc {
  font-size: 80%;
  color: var(--gray);
  line-height: 1.25;
  text-align: justify;
}
